/*
Estilos da página index.html
*/

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
}

/*
Estilos da página contato.html
*/