@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
    padding: 0;
}

body {
    font-family: 'PT Mono', monospace;
    background-color: #f1f1f1;
}

/*
Estilos da página index.html
*/

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: blue;
}

#menu li a:hover {
    color: grey;
}

.p-30 {
    padding: 0px;
}

.br-50 {

}

.tm {
    width: 35px;
}

#footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*
Estilos da página contato.html
*/

.ml-50 {
    margin-left: 250px;
}

.mb-50 {
    margin-bottom: 350px;
}